{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "endOfLine": "lf",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "bracketSameLine": false,
  "svelteIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
