<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <link rel="manifest" href="/manifest.json">
  <title class="page-title">{{ page.title }} | {{ site.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/src/troop370-logo/favicon.ico">
  <style>
    @media (prefers-color-scheme:dark) {
      html,body,h1,h2,h3,h4,h5,h6,p,button,a {background:black;color:black;border:black;}
    }
    @media (prefers-color-scheme:light) {
      html,body,h1,h2,h3,h4,h5,h6,p,button,a {background:white;color:white;border:white;}
    }
    @media (prefers-color-scheme:no-preference) {
      html,body,h1,h2,h3,h4,h5,h6,p,button,a {background:white;color:white;border:white;}
    }
  </style>
  <script>
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      document.querySelector('head').innerHTML += '<link rel="stylesheet" href="/css/main-dark.css">';
      document.querySelector('head').innerHTML += '<meta name="theme-color" content="#262626">';
    } else {
      document.querySelector('head').innerHTML += '<link rel="stylesheet" href="/css/main.css">';
      document.querySelector('head').innerHTML += '<meta name="theme-color" content="#efefef">';
    }
  </script>
</head>
