---
layout: default
title: Contact Webmaster
menu: hide
---
<div class="content-strip content-strip--primary content-strip--extra-padding content-strip--center">
  <div class="flex-item">
    <h1>Contact Webmaster</h1>
    <p>Use the contact form below to get in contact with a Troop 370 Webmaster. We do our best to respond quickly to requests for passwords or website assistance. For general questions and contact, use our <a href="/contact.html">general contact form</a>.</p>
  </div>
</div>
<div class="content-strip content-strip--reduced-padding">
  <div class="flex-item">
    <p>Current Webmasters: Jack Buehner and Quinton Cables</p>
  </div>
</div>
<div class="content-strip content-strip--reduced-padding">
  <div class="flex-item">
    <form name="contact-webmaster" method="POST" action="https://formspree.io/jackebuehner@gmail.com">
      {% include text-field-row.html
        variant="field-input"
        type="text"
        required="yes"
        width="100%"
        name="First_Name"
        label="First name"
      %}
      {% include text-field-row.html
        variant="field-input"
        type="text"
        required="yes"
        width="100%"
        name="Last_Name"
        label="Last name"
      %}
      {% include text-field-row.html
        variant="field-input"
        type="email"
        required="yes"
        width="100%"
        name="_replyto"
        label="Email"
      %}
      {% include text-field-row.html
        variant="field-input"
        type="text"
        width="100%"
        name="_subject"
        label="Subject"
      %}
      {% include text-field-row.html
        variant="field-input"
        type="text"
        required="yes"
        width="100%"
        height="200px"
        name="message"
        label="Message"
      %}
      <button class="mdc-button mdc-button--raised" type="submit" name="action">
        <span class="mdc-button__label">Submit</span>
      </button>
      <meta name="referrer" content="origin"/>
      <input type="hidden" name="_next" value="submission-received.html"/>
      <input type="hidden" name="_format" value="plain"/>
    </form>
  </div>
</div>
