{% if include.variant == 'textarea' %}
<div class="text-field-row text-field-row-fullwidth">
  <div class="text-field-container">
    <div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--textarea">
      <textarea id="text-field-fullwidth-textarea-helper" rows="{{ include.rows }}" maxlength="{{ include.maxlength }}" class="mdc-text-field__input" name="{{ include.name }}" style="width:{{ include.width }};height:{{ include.height }};" {% if include.required == 'yes' %} required {% else %} {% endif %}></textarea>
      <div class="mdc-notched-outline mdc-notched-outline--upgraded">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch" style="">
          <label class="mdc-floating-label" for="text-field-fullwidth-textarea-helper" style="">{{ include.label }}</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>
</div>
{% else %} {% endif %}

{% if include.variant == 'field-input' %}
<div class="mdc-text-field mdc-text-field--outlined" style="width:{{ include.width }};height:{{ include.height }};">
  <input type="{{ include.type }}" name="{{ include.name }}" {% if include.required == 'yes' %} required {% else %} {% endif %} class="mdc-text-field__input">
  <div class="mdc-notched-outline">
    <div class="mdc-notched-outline__leading"></div>
    <div class="mdc-notched-outline__notch">
      <label class="mdc-floating-label">{{ include.label }}</label>
    </div>
    <div class="mdc-notched-outline__trailing"></div>
  </div>
</div>
{% else %} {% endif %}

{% if include.variant == 'checkbox-input' %}
<div class="mdc-form-field" id="{{ include.name }}_div">
  <div class="mdc-checkbox">
    <input type="{{ include.type }}" name="{{ include.name }}" class="mdc-checkbox__native-control" id="{{ include.name }}" onclick="{{ include.onclick }}"/>
    <div class="mdc-checkbox__background">
      <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
        <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
      </svg>
      <div class="mdc-checkbox__mixedmark"></div>
    </div>
  </div>
  <label for="{{ include.name }}">{{ include.label }}</label>
</div>
<br>
{% else %} {% endif %}

{% if include.variant == 'radio-input' %}
<div class="mdc-form-field" id="{{ include.name }}_div">
  <div class="mdc-radio">
    <input class="mdc-radio__native-control" type="{{ include.type }}" id="{{ include.name }}" name="radios" checked>
    <div class="mdc-radio__background">
      <div class="mdc-radio__outer-circle"></div>
      <div class="mdc-radio__inner-circle"></div>
    </div>
  </div>
  <label for="{{ include.name }}">{{ include.label }}</label>
</div>
<br>
{% else %} {% endif %}
