{% assign t = site.collections | where:'label',[include.collection] | first %}

{% assign sorted = site.[include.collection] | sort: 'nav_order' %}

{% if site.[include.collection].size == 1 %}
  {% for item in site.[include.collection] %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
{% elsif site.[include.collection].size >= 2 %}
<li class="dropdown"><a href="javascript:void(0)" id="{{include.collection}}">{{include.collection}}</a>
  <ul>
    {% for item in sorted %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</li>
{% endif %}
