@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #004daa,
  $secondary: #bc1b2d,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

@use '@material/shape/index' as shape with (
  $small-component-radius: 0px,
  $medium-component-radius: 0px,
  $large-component-radius: 0px
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
}
