---
---
.tmd-table-wrapper {
  overflow-x: auto;
  th, td {
    padding: 0 8px;
  }
}
.tmd-table {
  table-layout: auto;
}
.tmd-table-header {
  display: inline-block;
  width: calc(100% - 80px);
}
.tmd-table-header_row {
  th:first-of-type, th:nth-of-type(2) {
    width: 1px;
  }
}
@media (max-width: 1200px) {
  .content-strip--has-table {
    justify-content: left;
    .flex-item {
      width: 100%;
    }
  }
}
@media (max-width: 420px) {
  .content-strip--has-table > .flex-item > .tmd-table-wrapper > .tmd-table-header {
    line-height: 1 !important;
    height: 64px;
  }
}
