$mdc-typography-font-family: Roboto, sans-serif;
$mdc-typography-headline-font-family: "IBM Plex Sans", Roboto, sans-serif;
$mdc-typography-styles-headline1: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-headline2: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-headline3: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-headline4: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-headline5: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-headline6: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 500
);
$mdc-typography-styles-button: (
  font-family: $mdc-typography-headline-font-family,
  font-weight: 700
);
$content-width: 1200px;

$mdc-theme-primary: #003f87;
$mdc-theme-on-primary: if(mdc-theme-contrast-tone($mdc-theme-primary) == "dark", #000, #fff) !default;
$mdc-theme-secondary: #bc1b2d;
$mdc-theme-on-secondary: if(mdc-theme-contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !default;
$mdc-theme-background: #ffffff;
$mdc-theme-on-background: #000000;
$mdc-theme-surface: #fff !default;
$mdc-theme-on-surface: if(mdc-theme-contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !default;
$mdc-theme-error: #b00020 !default;
$mdc-theme-on-error: if(mdc-theme-contrast-tone($mdc-theme-error) == "dark", #000, #fff) !default;

$content-strip-heading-headline-size: (
  h1: headline4,
  h2: headline5,
  h3: headline6,
  h4: headline6,
  h5: headline6,
  h6: headline6
);
$content-strip-padding-y: 35px;
$content-strip-padding-y-extra: 80px;
$content-strip-padding-y-reduced: 15px;
$content-strip-padding-y-min: 5px;
$content-strip-padding-x: 10px;
$content-strip-item-margin-y: 5px;
$content-strip-item-margin-x: 0;

$sidenav-width: 300px;
$sidenav-bg-color: $mdc-theme-surface;
$sidenav-line-height: 48px;
$sidenav-font-color: #000;
$sidenav-font-size: 14px;
$sidenav-font-family: $mdc-typography-font-family;
$sidenav-item-height: 48px;
$sidenav-padding: 16px;
$sidenav-divider-color: #e0e0e0;
$primary-color: navy;
$sidenav-header-background-color: $mdc-theme-background;
$sidenav-header-bugler-fill-color: $mdc-theme-primary;
$sidenav-header-text-color: $mdc-theme-primary;
$sidenav-header-social-icons-fill-color: $mdc-theme-primary;

$collapsible-border-color: transparent;
$collapsible-header-color: transparent;
$element-top-margin: 0;
$element-bottom-margin: 0;

$tmd-table-border-opacity: 0.2;
$tmd-table-row-border-opacity: 0.1;
$tmd-table-header_row-text-opacity: 0.6;
$tmd-table-row-text-opacity: 0.87;
$tmd-table-header-text-opacity: 0.87;
$tmd-table-header-font-size: 20px;
$tmd-table-header-font-weight: 500;
$tmd-table-header-height: 64px;
$tmd-table-row-font-size: 14px;
$tmd-table-row-height: 48px;
$tmd-table-color: #000000;
$tmd-table-row-hover-color: $tmd-table-color;
$tmd-table-header_row-font-weight: 500;
$tmd-table-header_row-text-align: left;
$tmd-table-outside_cell-padding: 16px;
$tmd-table-border-opacity: 0.2;
