.topnav {
  display: flex;
  justify-content: center;
  background: $topnav-background;
  padding: 0 $content-strip-padding-x;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.06);
  .flex-item {
    width: $content-width;
  }
  .grid-item-title {
    #topnav-title {
      font-family: $mdc-typography-headline-font-family;
      color: $mdc-theme-primary;
      font-size: 20px;
      font-weight: 500;
      width: 180px;
    }
    i {
      color: $mdc-theme-primary;
    }
  }
  #main-nav {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    height: 56px;
    li {
      display: inline-flex;
      a {
        font-family: $mdc-typography-headline-font-family;
        color: $mdc-theme-on-background;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        padding: $topnav-padding-y 15.3px;
        @include mdc-ripple-surface;
        @include mdc-ripple-radius-bounded;
        @include mdc-states-base-color($mdc-theme-primary);
        @include mdc-states-hover-opacity($states-hover-opacity);
        @include mdc-states-focus-opacity($states-focus-opacity);
        @include mdc-states-press-opacity($states-press-opacity);
        overflow:hidden;
      }
    }
    .dropdown {
      > ul {
        display: none;
        position: absolute;
        padding-inline-start: 0;
        margin-top: 54px;
        background: $mdc-theme-background;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        > li {
          display: flex;
          > a {
            width: 100%;
            padding: 11px;
            font-family: $mdc-typography-headline-font-family;
            font-size: 16px;
            letter-spacing: 0.5px;
          }
        }
      }
      &:hover ul {
        display: block;
      }
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: [title] 180px [navigation] auto;
  grid-template-rows: 56px;
}
.grid-item-title {
  justify-self: start;
  display: flex;
  align-items: center;
}
.grid-item-navigation {
  justify-self: end;
}
@media (max-width: 1100px) and (min-width: 600px) {
  .topnav #main-nav li a {
    padding: $topnav-padding-y 12px;
  }
  @media (max-width: 1124px) {
    .topnav #main-nav li a {
      padding: $topnav-padding-y 8px;
    }
    @media (max-width: 1066px) {
      .topnav #main-nav li a {
        font-family: $mdc-typography-headline-condensed-font-family;
        padding: $topnav-padding-y 6px;
      }
      @media (max-width: 996px) {
        .hide-small {
          display: none;
        }
        @media (max-width: 896px) {
          .topnav #main-nav li a {
            font-size: 14.5px;
          }
          @media (max-width: 776px) {
            .topnav #main-nav li a {
              padding: 16px 3px;
              letter-spacing: -0.2px;
            }
            @media (max-width: 646px) {
              .topnav #main-nav li a {
                padding: 16px 2px;
                letter-spacing: -0.8px;
              }
            }
          }
        }
      }
    }
  }
}
.menu-icon {
  display: none;
  margin-left: -6px;
  margin-right: 8px;
  fill: $mdc-theme-primary;
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-unbounded;
  @include mdc-states-base-color($mdc-theme-primary);
  @include mdc-states-hover-opacity($states-hover-opacity);
  @include mdc-states-focus-opacity($states-focus-opacity);
  @include mdc-states-press-opacity($states-press-opacity);
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-item-navigation {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
}
#storeTabBar {
  position: sticky;
  top: 0;
  background: $content-strip-primary-background;
  z-index: 9;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.06);
  @media (max-width: $breakpoint-mobile) {
    background: $topnav-background;
    z-index: 11;
  }
}
