body, td, div, span, p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.google-visualization-table-tr-head {
  background: red;
}
.google-visualization-table-tr-even, .google-visualization-table-tr-odd {
    height: 40px;
}
