:root {
  --theme-primary: #003f87;
  --theme-primary-lighter: #134885;
  --theme-primary-light: #4969b7;
  --theme-primary-lightest: #8096cd;
  --theme-primary-dark: #001a59;
  --theme-secondary: #bc1b2d;
  --theme-secondary-light: #f55656;
  --theme-secondary-dark: #840005;
  --theme-background: #ffffff;
  --theme-text-on-background: #1f1f1f;
  --theme-primary_accent_text-on-background: var(--theme-primary-lighter);
  --theme-text-on-primary: #e0e0e0;
  --theme-text-on-secondary: #e0e0e0;
  --mdc-theme-primary: #003f87;
  --mdc-theme-primary-lighter: #134885;
  --mdc-theme-primary-light: #4969b7;
  --mdc-theme-primary-lightest: #8096cd;
  --mdc-theme-primary-dark: #001a59;
  --mdc-theme-secondary: #bc1b2d;
  --mdc-theme-secondary-light: #f55656;
  --mdc-theme-secondary-darker: #911321;
  --mdc-theme-secondary-dark: #840005;
  --mdc-theme-background: #ffffff;
  --mdc-theme-text-on-background: #1f1f1f;
  --mdc-theme-primary_accent_text-on-background: var(--mdc-theme-primary-lighter);
  --mdc-theme-text-on-primary: #e0e0e0;
  --mdc-theme-text-on-secondary: #e0e0e0;
  --mdc-theme-error: #b00020;
}
