
/*roboto 400, 400i, 500, 500i*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');

@import "../resources/materialize/0.97.8/css/materialize.css";

@import "../styles/troop370-topnav.css";

/*IBM Plex Sans Regular*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhd_eFb5N.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*IBM Plex Sans Medium*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans Medium';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*IBM Plex Sans SemiBold*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*IBM Plex Sans Bold*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: url(../src/fonts/IBM_Plex_Sans_Bold.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/**/
* {
  box-sizing: border-box;
}
:root {
  --heading-font-family: 'IBM Plex Sans Medium', sans-serif;
  --button-font-family: 'IBM Plex Sans Bold', sans-serif;
  --text-font-family: 'Roboto', sans-serif;
}
:root {
  --h1-sp: -1.5px;
  --h2-sp: -0.5px;
  --h3-sp: 0px;
  --h4-sp: 0.25px;
  --h5-sp: 0px;
  --h6-sp: 0.15px;
  --subtitle-1-sp: 0.15px;
  --subtitle-2-sp: 0.1px;
  --body-1-sp: 0.5px;
  --body-2-sp: 0.25px;
  --button-sp: 0.75px;
  --caption-sp: 0.4px;
  --overline-sp: 01.5px;
}
:root {
  --h1-font-size: 96px;
  --h2-font-size: 60px;
  --h3-font-size: 48px;
  --h3-8-font-size: 34px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;
  --subtitle-1-font-size: 16px;
  --subtitle-2-font-size: 14px;
  --body-1-font-size: 16px;
  --body-2-font-size: 14px;
  --button-font-size: 14px;
  --caption-font-size: 12px;
  --overline-font-size: 10px;
}
@media (max-width: 600px) {
  :root {
    --h3-8-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 20px;
  }
  .hide-mobile {
    display: none;
  }
}
:root {
  --content-max-width: 1100px;
}
:root {
  --banner-padding-y: 35px;
  --banner-padding-x: 10px;
  --banner-padding-y-increased: calc(var(--banner-padding-y) + 40px);
  --banner-padding-x-increased: calc(var(--banner-padding-y) + 0px);
  --banner-elements-padding-between: 5px;
  --banner-background-color: #134885;
  --banner-text-color: #eeeeee;
  --background-blue: #134885;
  --background-red: #bc1b2d;
  --background-white: #ffffff;
  --banner-text-color-light: #134885;
}
:root {
  --content-strip-padding-y: 35px;
  --content-strip-padding-x: 10px;
  --content-strip-padding-y-increased: calc(var(--content-strip-padding-y) + 40px);
  --content-strip-padding-x-increased: calc(var(--content-strip-padding-x) + 0px);
  --content-strip-padding-ol-x: calc(var(--content-strip-padding-x) + 20px);
  --content-strip-elements-padding-between: 5px;
  --content-strip-background-color: transparent;
  --content-strip-text-color: #1f1f1f;
  --content-strip-text-color-light: #e0e0e0;
}
:root {
  --button-border-radius: 2px;
  --button-margin: 6px;
  --button-text-color-light: #e0e0e0;
  --button-text-color-dark: #134885;
  --button-border-color-light: #e0e0e0;
  --button-border-color-dark: #636161;
  --button-background-color-light-hover: rgba(255,255,255,0.20);
  --button-background-color-dark-hover: rgba(0,0,0,0.20);
}
content-strip.blue, content-strip.blue subtitle, content-strip.blue h4, content-strip.blue p {
  background-color: var(--background-blue);
  color: var(--content-strip-text-color-light) !important;
}
html, body, container, p, h1, h2, h3, h4, h5, h6, ol {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
}
container {
  width: var(--content-max-width);
  padding: 0 var(--content-padding-x);
}
spacer10 {
  height: 20px;
  color: transparent;
  display: block;
}
banner {
  display: flex;
  height: auto;
  background-color: var(--banner-background-color);
  justify-content: center;
  padding: var(--banner-padding-y) 0;
}
banner.extra-padding-y {
  padding: var(--banner-padding-y-increased) var(--banner-padding-x);
}
banner h3-8, banner subtitle, banner p {
  display: block;
  max-width: inherit;
  color: var(--banner-text-color);
  padding: var(--banner-elements-padding-between) var(--banner-padding-x);
}
banner.red {
  background-color: var(--background-red);
}
banner.white, banner.white subtitle, banner.white p {
  background-color: var(--background-white);
  color: var(--banner-text-color-white) !important;
}
banner.white h3-8 {
  color: var(--banner-text-color-light) !important;
}
banner h3-8 {
  font-family: var(--heading-font-family);
  font-size: var(--h3-8-font-size);
}
banner subtitle {
  font-family: var(--text-font-family);
  font-size: var(--subtitle-1-font-size);
  letter-spacing: var(--subtitle-1-sp);
}
banner p {
  font-family: var(--text-font-family);
  font-size: var(--body-1-font-size);
  letter-spacing: var(--body-1-sp);
}
banner p + buttonrow, subtitle p + buttonrow {
  padding-top: 30px;
}
content-strip {
  display: flex;
  height: auto;
  background-color: var(--content-strip-background-color);
  justify-content: center;
  padding: var(--content-strip-padding-y) 0 0 0;
}
content-strip:last-of-type {
  padding: var(--content-strip-padding-y) 0 var(--content-strip-padding-y) 0;
}
content-strip h3-8, content-strip h4, content-strip h5, content-strip h6, content-strip subtitle, content-strip p {
  display: block;
  max-width: inherit;
  color: var(--content-strip-text-color);
  padding: var(--content-strip-elements-padding-between) var(--content-strip-padding-x);
}
content-strip h3-8 + p, content-strip h4 + p, content-strip h5 + p, content-strip h6 + p {
  padding-top: 20px;
}
content-strip h3-8 {
  font-family: var(--heading-font-family);
  font-size: var(--h3-8-font-size);
}
content-strip h4 {
  font-family: var(--heading-font-family);
  font-size: var(--h4-font-size);
}
content-strip h5 {
  font-family: var(--heading-font-family);
  font-size: var(--h5-font-size);
}
content-strip subtitle {
  font-family: var(--text-font-family);
  font-size: var(--subtitle-1-font-size);
  letter-spacing: var(--subtitle-1-sp);
}
content-strip p, content-strip li {
  font-family: var(--text-font-family);
  font-size: var(--body-1-font-size);
  letter-spacing: var(--body-1-sp);
}
content-strip ol {
  padding: var(--content-strip-elements-padding-between) var(--content-strip-elements-padding-between) var(--content-strip-elements-padding-between) var(--content-strip-padding-ol-x);
}
content-strip p + buttonrow, content-strip subtitle + buttonrow {
  padding-top: 30px;
}
buttonrow {
  display: block;
  max-width: inherit;
  padding: var(--banner-elements-padding-between) var(--banner-padding-x);
}
a {
  color: inherit;
}
a[type="button"] {
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: 600;
  letter-spacing: var(--button-sp);
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  border-radius: var(--button-border-radius);
  padding: 6.5px 16px;
  margin: 0px var(--button-margin) var(--button-margin) 0;
  transition: box-shadow 0.2s;
}
a[type="button"].bigger {
  padding: 8.5px 20px;
}
a[type="button"][varient="light"], a[type="button"][variant="light"] {
  color: var(--button-text-color-light);
  background: transparent;
  border-color: var(--button-border-color-light);
}
a[type="button"][varient="light"]:hover, a[type="button"][variant="light"]:hover {
  box-shadow: inset 0px 0px 100px var(--button-background-color-light-hover);
}
a[type="button"][varient="dark"],
a[type="button"][variant="dark"] {
  color: var(--button-text-color-dark);
  background: transparent;
  border-color: var(--button-border-color-dark);
}
a[type="button"][varient="dark"]:hover,
a[type="button"][variant="dark"]:hover {
  box-shadow: inset 0px 0px 100px var(--button-background-color-dark-hover);
}
