/*camps-adventure*/
content-strip-3 {
  background: #ce1126;
}
content-strip-3 heading {
  color: white;
}
/*index*/
#time-banner {
  text-align: center;
}
#meeting-icon {
  padding-bottom: 40px;
}
carousel {
  display: flex;
  height: auto;
  background-color: #2d2d2d;
  justify-content: center
}
.flickity-page-dots {
  bottom: 15px !important;
  overflow: hidden;
  height: 14px;
}
.flickity-page-dots .dot {
  background: #dddddd !important;
}
.flickity-button {
  background: none !important;
}
.flickity-button-icon {
  fill: #dddddd !important;
}
.main-carousel {
  height: 380px;
  overflow: hidden;
}
.img-carousel {
  height: 600px;
  overflow: hidden;
  transition: height 0.1s;
}
.main-carousel .carousel-cell {
  width: 100%; /* full width */
  height: 380px; /* height of carousel */
  margin-right: 10px;
  background-color: #444444;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.img-carousel .carousel-cell {
  width: 100%; /* full width */
  height: 600px; /* height of carousel */
  margin-right: 10px;
  background-color: #444444;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: height 0.1s;
}
@media (max-width: 600px) {
  .img-carousel, .img-carousel .carousel-cell {
    height: 300px;
  }
}
.main-carousel .carousel-title {
  font-family: 'IBM Plex Sans Medium', sans-serif;
  font-size: 34px;
  margin: 0;
}
.main-carousel .carousel-info {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.main-carousel .carousel-text-card {
  display: block;
  background-color: #111111;
  height: 100%;
  width: 33.3%;
  margin: 0px 0 0 auto;
  transition: 0.1s;
}
.main-carousel .carousel-text-card>div {
  text-align: center;
  color: white;
  margin: auto 0 auto 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
#card1 {
  background-image: url("../src/banner images/scout shadow on top of mountain with sunset.jpg");
}
#card2 {
  background-image: url("../src/banner images/florida-mtb.jpg")
}
#card3 {
  background-image: url("../src/banner images/ookpik - skiing in a flat feild.jpg")
}
#card4 {
  background-image: url("../src/banner images/wsr-sign-far.jpg")
}
#card5 {
  background-image: url("../src/banner images/summit-sign.webp")
}
#imgcard1 {
  background-image: url("../src/photos-index-slideshow/1.jpg");
}
#imgcard2 {
  background-image: url("../src/photos-index-slideshow/2.jpg");
}
#imgcard3 {
  background-image: url("../src/photos-index-slideshow/3.jpg");
}
#imgcard4 {
  background-image: url("../src/photos-index-slideshow/4.jpg");
}
#imgcard5 {
  background-image: url("../src/photos-index-slideshow/5.jpg");
}
#imgcard6 {
  background-image: url("../src/photos-index-slideshow/6.jpg");
}
#imgcard7 {
  background-image: url("../src/photos-index-slideshow/7.jpg");
}
#imgcard8 {
  background-image: url("../src/photos-index-slideshow/8.jpg");
}
#imgcard9 {
  background-image: url("../src/photos-index-slideshow/9.jpg");
}
#imgcard10 {
  background-image: url("../src/photos-index-slideshow/10.jpg");
}
#imgcard11 {
  background-image: url("../src/photos-index-slideshow/11.jpg");
}
#imgcard12 {
  background-image: url("../src/photos-index-slideshow/12.jpg");
}
#imgcard13 {
  background-image: url("../src/photos-index-slideshow/13.jpg");
}
#imgcard14 {
  background-image: url("../src/photos-index-slideshow/14.jpg");
}
#imgcard15 {
  background-image: url("../src/photos-index-slideshow/15.jpg");
}
#imgcard16 {
  background-image: url("../src/photos-index-slideshow/16.jpg");
}
#imgcard17 {
  background-image: url("../src/photos-index-slideshow/17.jpg");
}
#imgcard18 {
  background-image: url("../src/photos-index-slideshow/18.jpg");
}
#imgcard19 {
  background-image: url("../src/photos-index-slideshow/19.jpg");
}
#imgcard20 {
  background-image: url("../src/photos-index-slideshow/20.jpg");
}
#imgcard21 {
  background-image: url("../src/photos-index-slideshow/21.jpg");
}
#imgcard22 {
  background-image: url("../src/photos-index-slideshow/22.jpg");
}
#imgcard23 {
  background-image: url("../src/photos-index-slideshow/23.jpg");
}
#imgcard24 {
  background-image: url("../src/photos-index-slideshow/24.jpg");
}
#imgcard25 {
  background-image: url("../src/photos-index-slideshow/25.jpg");
}
#imgcard26 {
  background-image: url("../src/photos-index-slideshow/26.jpg");
}
#imgcard27 {
  background-image: url("../src/photos-index-slideshow/27.jpg");
}
#imgcard28 {
  background-image: url("../src/photos-index-slideshow/28.jpg");
}
#imgcard29 {
  background-image: url("../src/photos-index-slideshow/29.jpg");
}
#imgcard30 {
  background-image: url("../src/photos-index-slideshow/30.jpg");
}
#imgcard31 {
  background-image: url("../src/photos-index-slideshow/31.jpg");
}
#imgcard32 {
  background-image: url("../src/photos-index-slideshow/32.jpg");
}
@media (max-width: 810px) {
  .main-carousel .carousel-text-card {
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .main-carousel .carousel-cell {
    background-size: cover;
  }
}
banner-3.extra-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}
a[type="button"].bigger {
  padding: 10px 20px;
}
/*eagle-scout-honor-roll*/
.project-map {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 600px;
}
#eagle-list {
  width: calc(100% - 20px);
  margin-left: 10px;
}

/*files and advancement*/
.split50 {
  width: 50%;
  float: left;
}
.split50-2 {
  width: 50%;
  float: left;
}
.split50 p {
  padding: 10px;
}
.split50 p:last-of-type {
  padding-bottom: 60px;
}
@media (max-width: 600px) {
  .split50 {
    width: 100%;
  }
  .split50-2 {
    width: 100%;
  }
  .split50 p:last-of-type {
    padding-bottom: 36px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
  }
}

/*contact*/
.btn, .btn-large, .btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #003f87;
}
.btn:hover, .btn-large:hover {
  background-color: #0352ad;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, textarea.materialize-textarea:focus + label {
  color: #003f87 !important;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, textarea.materialize-textarea:focus {
  border-bottom: 1px solid #003f87 !important;
  box-shadow: 0 1px 0 0 #003f87 !important;
}
.row {
  margin-bottom: 0;
}
.col.s12 {
  padding: 0;
}
textarea.materialize-textarea {
  margin: 0 10px 20px 10px;
  width: calc(100% - 20px);
}
.contact-submit-button {
  margin-left: 10px;
}
@media (max-width: 600px) {
  .row .col.s6-spread {
    width: 100%;
  }
}
/*campout schedule and local events*/
.plist p {
  padding-top: 0;
  padding-bottom: 0;
}
/*camps-adventure*/
content-strip.last-before-banner {
  padding: var(--content-strip-padding-y) 0 var(--content-strip-padding-y) 0;
}
/*pinestraw*/
#pinestraw-embed {
  overflow-y:hidden;
}
#pinestraw-embed iframe {
  border:0px #ffffff none;
  height:calc(100vh - 114.5px);
}
@media (max-width: 680px) {
  #pinestraw-embed iframe {
    height:calc(100vh - 64px);
  }
}
/*encrypted*/
staticrypt-title {
  font-family: "IBM Plex Sans Medium", sans-serif; !important;
}
/*button icons*/
#paypal::before {
  content: '';
  background-image: url(../src/icons/paypal.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  float: left;
  margin: 2px 8px 0 -4px;
}
#venmo::before {
  content: '';
  background-image: url(../src/icons/venmo.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  float: left;
  margin: 2px 8px 0 -4px;
}
#paypal-button {
  transition: filter 0.2s
}
#paypal-button:hover {
  filter: brightness(83%);
}
