/*camps-adventure*/
content-strip-3 {
  background: #ce1126;
}
content-strip-3 heading {
  color: white;
}
/*index*/

carousel {
  display: flex;
  height: auto;
  background-color: #2d2d2d;
  justify-content: center
}
.flickity-page-dots {
  bottom: 15px !important;
}
.flickity-page-dots .dot {
  background: #dddddd !important;
}
.flickity-button {
  background: none !important;
}
.flickity-button-icon {
  fill: #dddddd !important;
}
.carousel-cell {
  width: 100%; /* full width */
  height: 380px; /* height of carousel */
  margin-right: 10px;
  background-color: #444444;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

}
.carousel-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 34px;
  margin: 0;
}
.carousel-info {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.carousel-text-card {
  display: block;
  background-color: #111111;
  height: 100%;
  width: 33.3%;
  margin: 0px 0 0 auto;
}
.carousel-text-card>div {
  text-align: center;
  color: white;
  margin: auto 0 auto 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
#card1 {
  background-image: url("../src/banner images/scout shadow on top of mountain with sunset.jpg");
}
#card2 {
  background-image: url("../src/banner images/siler bald view.jpg")
}
#card3 {
  background-image: url("../src/banner images/ookpik - skiing in a flat feild.jpg")
}
#card4 {
  background-image: url("../src/banner images/bert adams lake.jpg")
}
@media (max-width: 680px) {
  .carousel-text-card {
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .carousel-cell {
    background-size: cover;
  }
}
banner-3.extra-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}
a[type="button"].bigger {
  padding: 10px 20px;
}
