/*camps-adventure*/
content-strip-3 {
  background: #ce1126;
}
content-strip-3 heading {
  color: white;
}

/*eagle-scout-honor-roll*/
.project-map {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: 600px;
}
#eagle-list {
  width: calc(100% - 20px);
  margin-left: 10px;
}

/*files and advancement*/
.split50 {
  width: 50%;
  float: left;
}
.split50-2 {
  width: 50%;
  float: left;
}
.split50 p {
  padding: 10px;
}
.split50 p:last-of-type {
  padding-bottom: 60px;
}
@media (max-width: 600px) {
  .split50 {
    width: 100%;
  }
  .split50-2 {
    width: 100%;
  }
  .split50 p:last-of-type {
    padding-bottom: 36px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
  }
}

/*contact*/
.btn, .btn-large, .btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #003f87;
}
.btn:hover, .btn-large:hover {
  background-color: #0352ad;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, textarea.materialize-textarea:focus + label {
  color: #003f87 !important;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, textarea.materialize-textarea:focus {
  border-bottom: 1px solid #003f87 !important;
  box-shadow: 0 1px 0 0 #003f87 !important;
}
.row {
  margin-bottom: 0;
}
.col.s12 {
  padding: 0;
}
textarea.materialize-textarea {
  margin: 0 10px 20px 10px;
  width: calc(100% - 20px);
}
.contact-submit-button {
  margin-left: 10px;
}
@media (max-width: 600px) {
  .row .col.s6-spread {
    width: 100%;
  }
}
/*campout schedule and local events*/
.plist p {
  padding-top: 0;
  padding-bottom: 0;
}
/*camps-adventure*/
content-strip.last-before-banner {
  padding: var(--content-strip-padding-y) 0 var(--content-strip-padding-y) 0;
}
/*pinestraw*/
#pinestraw-embed {
  overflow-y:hidden;
}
#pinestraw-embed iframe {
  border:0px #ffffff none;
  height:calc(100vh - 114.5px);
}
@media (max-width: 680px) {
  #pinestraw-embed iframe {
    height:calc(100vh - 64px);
  }
}
/*encrypted*/
staticrypt-title {
  font-family: "IBM Plex Sans", sans-serif; !important;
  font-weight: 500;
}
/*button icons*/
#paypal::before {
  content: '';
  background-image: url(../src/icons/paypal.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  float: left;
  margin: 2px 8px 0 -4px;
}
#venmo::before {
  content: '';
  background-image: url(../src/icons/venmo.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  float: left;
  margin: 2px 8px 0 -4px;
}
#paypal-button {
  transition: filter 0.2s
}
#paypal-button:hover {
  filter: brightness(83%);
}
.text-field-row {
  padding: var(--content-strip-elements-padding-between) var(--content-strip-padding-x);
}
textarea#text-field-fullwidth-textarea-helper {
  padding: 6px 16px 10px 16px;
}
