/*roboto 400, 400i, 500, 500i*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i');

/*IBM Plex Sans Regular*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhd_eFb5N.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*IBM Plex Sans SemiBold*/
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v3/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*IBM Plex Sans Bold*/
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../src/fonts/IBM_Plex_Sans_Bold.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/**/
:root {
  --scout-blue: #003f87;
}
html  {
  background: #eeeeee;
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
.main-box {
  display: block;
  max-width: 360px;
  max-height: 380px;
  min-height: 380px;
  background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 45px;
  margin: auto;
}
.main-box img {
  height: 48px;
  margin: 0 0 10px 156px;
  /*display: block !important;*/
  display: none;
}
p.logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
  color: var(--scout-blue);
  margin: 0;
  text-align: center;
}
p.instruction-heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.333em;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}
p.instruction-sub {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
  padding-top: 8px;
}
.member-pass {
  width: 100%;
  margin: 32px 0 8px 0;
}
.submit-button {
  text-align: right;
}
a.contact {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 700 !important;
  margin: -8px 0 0 -8px;
}
.password-question {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4286;
  margin-top: 20px;
}
.submit-button .mdc-button {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-weight: 600 !important;
  padding: 0 24px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /*html::before {
    background: #003f87;
    display: block;
    height: 24px;
    content: url('../src/icons/close.svg');
    padding: 18px;
  }*/
  body {
    transform: none;
    top: auto;
  }
  .main-box {
    max-width: none;
    max-height: none;
    min-height: none;
    height: calc(100vh - 90px);
  }
}































.
