.top {
  --top-height: 60px;
  --titlebar-heading-width: 286px;
  --titlebar-heading-font-size: 24px;
  --titlebar-heading-padding-x: 16px;
  --titlebar-heading-padding-y: 18px;
  --titlebar-margin-left: 0;
  --titlebar-site-margin-top: 0;
  --menu-icon-display: none;
  --main-nav-height: 60px;
  --main-nav-display: inline-flex;
  --topnav-a-padding-x: 15.3px;
  --topnav-a-padding-y: 19px;
  --topnav-dropdown-arrow-padding-y: 14px;
  --topnav-dropdown-arrow-svg-margin-top: 4px;
  --topnav-dropdown-a-padding-x: 16px;
  --topnav-dropdown-a-padding-y: 12px;
}
.top.colorful, .top.dark {
  --titlebar-heading-color: #e0e0e0;
  --menu-icon-fill: #e0e0e0;
  --topnav-text-color: #e0e0e0;
  --topnav-dropdown-text-color: #222222;
  --topnav-currentpage-color: #e0e0e0;
  --topnav-dropdown-bg-color: #f7f7f7;
  --topnav-ripple-color: #ffffff;
}
.top.colorful {
  --topnav-bg-color: #003f87;
}
.top.dark {
  --topnav-bg-color: #212121;
}
.top.light {
  --titlebar-heading-color: #003f87;
  --menu-icon-fill: #003f87;
  --topnav-bg-color: #ffffff;
  --topnav-text-color: #222222;
  --topnav-dropdown-text-color: #222222;
  --topnav-currentpage-color: #003f87;
  --topnav-dropdown-bg-color: #f7f7f7;
  --topnav-ripple-color: #003f87;
  --topnav-dropdown-ripple-color: #003f87;
}
@media (max-width: 600px) { /*duplicated from above*/
  .top.mobile-colorful, .top.mobile-dark {
    --titlebar-heading-color: #e0e0e0;
    --menu-icon-fill: #e0e0e0;
    --topnav-text-color: #e0e0e0;
    --topnav-dropdown-text-color: #222222;
    --topnav-currentpage-color: #e0e0e0;
    --topnav-dropdown-bg-color: #f7f7f7;
    --topnav-ripple-color: #ffffff;
  }
  .top.mobile-colorful {
    --topnav-bg-color: #003f87;
  }
  .top.mobile-dark {
    --topnav-bg-color: #212121;
  }
  .top.mobile-light {
    --titlebar-heading-color: #003f87;
    --menu-icon-fill: #003f87;
    --topnav-bg-color: #ffffff;
    --topnav-text-color: #222222;
    --topnav-dropdown-text-color: #222222;
    --topnav-currentpage-color: #003f87;
    --topnav-dropdown-bg-color: #f7f7f7;
    --topnav-ripple-color: #003f87;
    --topnav-dropdown-ripple-color: #003f87;
  }
}
.top {
  position: sticky;
  top: 0;
  z-index: 99;
  transition: box-shadow 0.2s, height 0.2s;
  height: var(--top-height);
  background-color: var(--topnav-bg-color);
}
topnav {
  display: flex;
  z-index: 99;
  justify-content: center;
}
.top topnav div.container {
  --content-max-width: 1400px;
}
titlebar {
  display: inline-flex;
}
#title1, #title1-site {
  text-decoration: none;
}
#title1-site {
  position: absolute;
  margin-top: var(--titlebar-site-margin-top);
  transition: margin-top 0.2s;
}
#titlebar2, #slide-out2 {
  display: none;
}
titlebar heading {
  display: block;
  width: var(--titlebar-heading-width);
  font-family: 'IBM Plex Sans Medium', sans-serif;
  font-size: var(--titlebar-heading-font-size);
  line-height: 24px;
  color: white;
  padding: var(--titlebar-heading-padding-y) var(--titlebar-heading-padding-x);
  padding-right: 0;
  color: var(--titlebar-heading-color);
  margin-left: var(--titlebar-margin-left);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: padding 0.2s, font-size 0.2s, margin 0.2s, overflow 0.2s;
}
#title1.animateme {
  width: var(--titlebar-heading-width);
}
.nav-shadow #title1.animateme heading {
  width: var(--titlebar-heading-width);
}
/*menu icon*/
.button-collapse {
  position: absolute;
  padding: 42px;
  margin: -24px 0 0 -24px;
  height: 24px;
  width: 24px;
  fill: var(--menu-icon-fill);
  display: var(--menu-icon-display);
  animation: fadein 0.2s;
}
/*main horizontal nav*/
.main-nav {
  display: var(--main-nav-display);
  height: var(--main-nav-height);
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: height 0.2s;
}
.main-nav li {
  list-style-type: none;
}
.main-nav li a {
  display: block;
  color: var(--topnav-text-color);
  padding: var(--topnav-a-padding-y) var(--topnav-a-padding-x);
  text-decoration: none;
  font-family: 'IBM Plex Sans Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  height: var(--topnav-height);
  transition: padding 0.2s, height 0.2s;
}
/*current page underline*/
.main-nav > li > a.current-page, .main-nav > li.current-dropdown {
    box-shadow: inset 0px -3px 0px 0px var(--topnav-currentpage-color);
    color: var(--topnav-currentpage-color);
  }
/*dropdowns*/
.main-nav .dropdown {
  display: inline-block;
}
.main-nav .dropdown > a {
  cursor: default;
}
.main-nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--topnav-dropdown-bg-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2px;
    margin-top: -6px;
}
.main-nav .dropdown:hover .dropdown-content {
  display: block;
}
.main-nav .dropdown-content a {
    color: var(--topnav-dropdown-text-color);
    padding: var(--topnav-dropdown-a-padding-y) var(--topnav-dropdown-a-padding-x);
    text-decoration: none;
    display: block;
    text-align: left;
}
/*dropdown arrow*/
#dropdownarrow {
  fill: var(--topnav-text-color);
  padding: var(--topnav-dropdown-arrow-padding-y) 10px;
}
#dropdownarrow svg {
  margin-top: var(--topnav-dropdown-arrow-svg-margin-top);
  transition: margin-top 0.2s;
}
.main-nav .dropdownarrow-content {
   right: 0;
}
/*ripple colors*/
.top .ripple-light-bg::before, .top .ripple-light-bg::after {
  background-color: var(--topnav-ripple-color);
}
.top .dropdown-content .ripple-light-bg::before, .top .dropdown-content .ripple-light-bg::after {
  background-color: var(--topnav-dropdown-ripple-color);
}
/*style for when scrolled down*/
.nav-shadow {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  --top-height: 50px;
  --titlebar-heading-font-size: 20px;
  --titlebar-heading-padding-y: 13px;
  --titlebar-site-margin-top: -44px;
  --main-nav-height: 50px;
  --topnav-bg-color: #f7f7f7;
  --topnav-a-padding-y: 14px;
  --topnav-dropdown-arrow-padding-y: 11px;
  --topnav-dropdown-arrow-svg-margin-top: 2px;
  --topnav-dropdown-a-padding-x: 16px;
  --topnav-dropdown-a-padding-y: 12px;
  --topnav-dropdown-bg-color: #f7f7f7;
  --content-max-width: 1400px;
}
titlebar .scrollme heading {
  overflow: visible;
  text-overflow: clip;
}
.nav-shadow titlebar .scrollme heading {
  overflow: hidden;
  text-overflow: ellipsis;
}
/*mobile view*/
@media (max-width: 600px) {
  .nav-shadow {
    --top-height: 60px;
    --titlebar-heading-padding-y: 18px;
  }
  .top, .top.light, .top.mobile-light {
    --titlebar-heading-width: calc(100vw - 67px);
    --titlebar-heading-font-size: 20px;
    --titlebar-margin-left: 50px;
    --titlebar-site-margin-top: -44px;
    --menu-icon-display: block;
    --main-nav-display: none;
  }
  .animateme {
    transform: none !important;
  }
}
/*sidenav drawer variables*/
.side-nav {
  --side-nav-header-bg-color: #ffffff;
  --side-nav-header-text-color: #003f87;
  --side-nav-header-bugler-color: var(--side-nav-header-text-color);
  --side-nav-header-social-icons-color: var(--side-nav-header-text-color);
  --side-nav-header-social-icons-ripple-color: var(--side-nav-header-text-color);
  --side-nav-header-border-bottom-color: #e0e0e0;
  --side-nav-drawer-item-ripple-color: var(--side-nav-header-text-color);
  --side-nav-drawer-item-active-dropdown-bg: #003f700c;
}
/*sidenav drawer header*/
.side-nav .header {
  height: 120px;
  background-color: var(--side-nav-header-bg-color);
  border-bottom: 1px solid var(--side-nav-header-border-bottom-color);
}
.side-nav .bugler {
  height: 159px;
  width: 100px;
  display: block;
  line-height: 48px;
  position: absolute;
  padding: 20px;
  margin-top: -11px;
  color: var(--side-nav-header-bugler-color)
}
.side-nav .site-title, .side-nav .location {
  font-family: 'IBM Plex Sans Medium', sans-serif;
  line-height: 24px;
  color: var(--side-nav-header-text-color);
  margin-left: 80px;
}
.side-nav .site-title {
  font-size: 20px;
  padding: 18px 16px;
}
.side-nav .location {
  font-size: 16px;
  padding: 0px 16px;
  margin-top: -20px;
}
.side-nav .social {
  height: 50px;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50px;
  padding: 0;
  border: none;
  margin-top: 0px;
  display: inline-block;
}
.side-nav .social.standard-dark-button.mdc-button--outlined::before, .social.standard-dark-button.mdc-button--outlined::after {
  background-color: var(--side-nav-header-social-icons-ripple-color);
}
.side-nav .social:first-of-type {
  margin: 0px -4px 0 84px;
}
.side-nav .social svg {
  color: var(--side-nav-header-social-icons-color);
  height: 32px;
  width: 32px;
  margin: 9px !important;
}
/*sidenav drawer list items*/
.side-nav .ripple-light-bg::before, .side-nav .ripple-light-bg::after {
  background-color: var(--side-nav-drawer-item-ripple-color);
}
.side-nav li.active a.active {
  background-color: var(--side-nav-drawer-item-active-dropdown-bg);
}
/*horizontal navbar adjustments*/
#dropdownarrow, #drop-photos, #drop-contact, #drop-payments, #drop-pinestraw, #drop-members {
  display: none;
}
@media (max-width: 1400px) and (min-width: 600px) {
  .main-nav li a {
    --topnav-a-padding-x: 12px;
  }
  @media (max-width: 1330px) {
    #pinestraw {
      display: none;
    }
    #dropdownarrow, #drop-pinestraw {
      display: block;
    }
    @media (max-width: 1260px) {
      #payments {
        display: none;
      }
      #drop-payments {
        display: block;
      }
      @media (max-width: 1150px) {
        #contact {
          display: none;
        }
        #drop-contact {
          display: block;
        }
        #members .dropdown-content{
          right: 0;
        }
        @media (max-width: 1050px) {
          #photos {
            display: none;
          }
          #drop-photos {
            display: block;
          }
          #tevents .dropdown-content{
            right: 0;
          }
          @media (max-width: 960px) {
            .main-nav li a {
              --topnav-a-padding-x: 7px;
            }
            @media (max-width: 900px) {
              #members {
                display: none;
              }
              #drop-members {
                display: block;
              }
              #drop-contact {
                width: 260px;
              }
              #scouts .dropdown-content{
                right: 0;
              }
              @media (max-width: 810px) {
                titlebar {
                  --titlebar-heading-width: 200px;
                }
              }
              @media (max-width: 730px) {
                #tevents {
                  display: none;
                }
                #drop-tevents {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*titlebar heading {
  --titlebar-heading-font-size: 34px;
  margin-top: 41px;
  --titlebar-heading-width: 100%;
  position: absolute;
  --titlebar-heading-padding-y: 54px;
  background: #134885;
  transition: padding 0.2s, font-size 0.2s, margin 0.2s, background 0.2s;
  margin-bottom: 130px;
}
.top {
  margin-bottom: 132px;
}
.top.nav-shadow {
  margin-bottom: 0;
}
.nav-shadow titlebar heading {
  --titlebar-heading-width: 286px;
  --titlebar-heading-font-size: 20px;
  --titlebar-heading-padding-y: 13px;
  margin-top: 0;
  position: unset;
  background: none;
}*/
